<div class="container">

    <h2 class= "text-center p-3"><%= @list.name.capitalize %> </h2>

  <div class="container d-flex flex-row-reverse">

    <%= link_to  lists_path do %>
      <span><i class="p-2 fas fa-3x fa-arrow-alt-circle-left"></i></span>
    <% end %>
    <%= link_to new_list_bookmark_path(@list) do %>
      <span> <i class="p-2 fas fa-3x fa-plus-square"></i></span>
    <% end %>

  </div>

    

    <div class="card " style="width: 18rem;">
        <% @list.movies.each do |movie| %>
            <%= image_tag movie.poster_url %>
            <h3><%= movie.title  %></h3>
            <p><%= movie.overview %></p>
            <p><%= movie.rating %></p> 
        <% end %>
    </div>
</div>