<div class="container">

    <h2 class= "text-center p-3"><%= @list.name.capitalize %> </h2>
  <div class="container d-flex flex-row-reverse">
    <%= link_to  "volver", lists_path, class: '' %>
    <%= link_to  "Agregar pelicula", new_list_bookmark_path(@list),  class: 'btn btn-lg btn-success' %>
  </div>

    

    <div class="card">
        <% @list.movies.each do |movie| %>
            <%= image_tag movie.poster_url, class: 'w-25' %>
            <h3><%= movie.title  %></h3>
            <p><%= movie.overview %></p>
            <p><%= movie.rating %></p> 
        <% end %>
    </div>
</div>